.ui-body-c, .ui-overlay-c {
  background: #000000 url(../media/bg.png);
}

.ui-header.ui-bar-a, .ui-footer.ui-bar-a {
  border: 1px solid #333;
  background: #DDD;
  color: #222;
  font-size: x-small;
  font-weight: bold;
  text-shadow: 0 -1px -1px #999;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#FFF),to(#999));
  background-image: -webkit-linear-gradient(#FFF,#999);
  background-image: -moz-linear-gradient(#FFF,#999);
  background-image: -ms-linear-gradient(#FFF,#999);
  background-image: -o-linear-gradient(#FFF,#999);
  background-image: linear-gradient(#FFF,#999);
}

h2, .ui-input-text, #geolocationDiv, #contactsDiv {
  color: #FFF;
  line-height: 1.4;
  display: block;
  font-weight: normal;
  margin: 0 0.3em;
  text-shadow: 0 1px 0 #000;
}

a{
  text-decoration: none;
}

.moveUp{
  margin-top: -10px;
}

.listNone{
  list-style: none;
}

.cta{
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
}

.contentDiv{
  background: white;
  border: 1px;
  border-color: #AAAAAA;
  border-style: solid;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  margin-bottom: 10px;
  float: none;
}

.titleText{
  color: white;
  border: 0px;
  font-weight: normal;
  margin-top: 0px;
  padding: 3px;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background: rgb(76,76,76);
  background: -moz-linear-gradient(top,  rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(12%,rgba(89,89,89,1)), color-stop(25%,rgba(102,102,102,1)), color-stop(39%,rgba(71,71,71,1)), color-stop(50%,rgba(44,44,44,1)), color-stop(51%,rgba(0,0,0,1)), color-stop(60%,rgba(17,17,17,1)), color-stop(76%,rgba(43,43,43,1)), color-stop(91%,rgba(28,28,28,1)), color-stop(100%,rgba(19,19,19,1)));
  background: -webkit-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%);
  background: -o-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%);
  background: -ms-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%);
  background: linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 );
}

/* CAMERA/PHOTO SPECIFIC CSS */
#smallImage {
    display:none;
    width:80px;
    height:80px;
    margin: 5px 10px;
}

#largeImage {
    display: none;
    max-width: 768px;
    max-height: 900px;
    margin: 5px 10px;
}

/* CONTACTS SPECIFIC CSS */
#createContactFirstName {
    float: left;
    width: 50%;
}

#createContactLastName {
    width: 50%;
}